{{> head }}
    {{> navbar }}
    <div class="">
        <div class="row"> 
         <div class="col-md-8">
            <h1>Pagina about</h1>
         </div>
          <div class="col-md-4">
            <img  class="img-thumbnail" src="assets/img/test.png" alt="imagen1">
          </div>

    </div>

    </div>
    

{{> footer}}